In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

cred = credentials.Certificate('kiosk-firestore-jnsy-bcfe4-firebase-adminsdk-269q4-4a795774bb.json')
firebase_admin.initialize_app(cred)

In [2]:
#모든 user를 루프돌아서
#선호도 가져오면 되겠다
#전체 아이템 알려면 menu도 루프 돌아야겠지
# tag='user'이면 모든 사용자 루프
def get_user_rating_list(tag='user'):
    docs = firestore.client().collection(tag).stream()
    doc_list = []
    
    for doc in docs:
        doc_list_row = []
        doc_list_row.append(doc.get('personUUID'))
        for key in doc.get('itemPreference').keys(): # {아이템이름str:점수int}
            doc_list_row.append([key,doc.get('itemPreference').get(key)])
            
        doc_list.append(doc_list_row)
    
    return doc_list

#def get_menu_list(tag='menu'):
#    docs = firestore.client().collection(tag).stream()
#    menu_list = []
#    
#    for doc in docs: # 메뉴 이름만 일단 모아서 반환한다
#        menu_list.append(doc.get('name'))
#    
#    return menu_list

In [ ]:
def data_preprocessing(user_items_list):
    temp_list = [] # user,item,rating 저장할 리스트
    
    for row in user_items_list: #[0]은 항상 person uuid
        if len(row) != 1: #길이가 하나인 행은 uuid만 있으므로 제외
            size = len(row)-1  # size는 user의 점수 매긴 item 개수
            for i in range(1,size+1): # 한 행 안의 아이템 루프 
                temp_list.append([row[0], row[i][0] , row[i][1] ])
                
    return temp_list

In [3]:
user_items_list = data_preprocessing(get_user_rating_list()) # order DB에서 데이터 가공해서 가져온다
#print(user_items_list)


print(user_items_list)

[['c07c639c-3413-4522-832d-3eaa7a1f3480', '아메리카노', 9], ['a056b551-622b-46f8-8620-731a66bc5be8', '삼계탕', 9], ['a056b551-622b-46f8-8620-731a66bc5be8', '라떼', 9], ['9d03e5f2-6070-42e2-8683-dc74c9895b95', '아메리카노', 5], ['4f0bb319-06ea-469e-a849-55f8c6fa4c6d', '삼계탕', 3]]

In [4]:
rating_item_df = pd.DataFrame(temp_list, columns=['userid','itemid','rating']) #ndarray로 변환
print(rating_item_df.info())

#userid 전처리
userid_encoder = LabelEncoder()
users = rating_item_df['userid'].values.tolist()
userid_encoder.fit(users)
users_vec = userid_encoder.transform(users)

print(type(users_vec)) #해당 열 전체 변환한 것

print('인코딩 클래스:', userid_encoder.classes_)

#print('디코딩 원본 값:', encoder.inverse_transform([0,1])) #리스트나 스칼라로 전달하면 변환해서 반환함

rating_item_df['userid'] = pd.Series(users_vec)

rating_item_df # 사용자가 아이템에 점수 매긴 DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
userid    5 non-null object
itemid    5 non-null object
rating    5 non-null int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None
<class 'numpy.ndarray'>
인코딩 클래스: ['4f0bb319-06ea-469e-a849-55f8c6fa4c6d'
 '9d03e5f2-6070-42e2-8683-dc74c9895b95'
 'a056b551-622b-46f8-8620-731a66bc5be8'
 'c07c639c-3413-4522-832d-3eaa7a1f3480']

   userid itemid  rating
0       3  아메리카노       9
1       2    삼계탕       9
2       2     라떼       9
3       1  아메리카노       5
4       0    삼계탕       3

In [7]:
ratings_matrix = rating_item_df.pivot_table(values='rating', index='userid', columns='itemid')#,aggfunc='first')
ratings_matrix # 행:사용자, 열:아이템 DF

itemid   라떼  삼계탕  아메리카노
userid
0       NaN  3.0    NaN
1       NaN  NaN    5.0
2       9.0  9.0    NaN
3       NaN  NaN    9.0

In [8]:
#NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
#ratings_matrix.info()#

In [11]:
ratings_matrix.info()

#ratings_matrix['삼계탕'].apply(lambda x: print(x,type(x)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
라떼       4 non-null float64
삼계탕      4 non-null float64
아메리카노    4 non-null float64
dtypes: float64(3)
memory usage: 128.0 bytes

In [ ]:
# 사용자/아이템 분기

In [12]:
#아이템 간 유사도 행렬을 구하려면, 아이템이 행으로 나열되어 있어야 함
ratings_matrix_T = ratings_matrix.transpose()
print(type(ratings_matrix_T))
ratings_matrix_T # 행:아이템, 열:사용자 DF

<class 'pandas.core.frame.DataFrame'>

userid    0    1    2    3
itemid
라떼      0.0  0.0  9.0  0.0
삼계탕     3.0  0.0  9.0  0.0
아메리카노   0.0  5.0  0.0  9.0

In [13]:

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity()로 반환된 넘파이 행렬을 영화명을 매핑해 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)
item_sim_df  # 아이템-아이템 유사도 DF

itemid        라떼       삼계탕  아메리카노
itemid
라떼      1.000000  0.948683    0.0
삼계탕     0.948683  1.000000    0.0
아메리카노   0.000000  0.000000    1.0

In [ ]:
# 사용자 취향을 고려해 개인화된 추천을 수행해봅시다.

def predict_rating(ratings_arr, item_sim_arr):#평점, 유사도
    rating_pred = ratings_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    #아 행으로 만드려고 [] 안에 sum 연산했구나. 결국 axis=0 같은 역할 아니야? 
    #응 아니야 []안하면 행으로 ndarray 만들어지니까
    
    # 평점*유사도/유사도합-각 아이템.
    return rating_pred


#먼저 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록
#평점을 주지 않은 영화를 리스트 객체로 반환하는 함수인 get_unseen_movies()를 생성합니다.

def get_unseen_movies(rating_df, userId): # 매개 사용자가 점수주지 않은 아이템 반환
    print('()', rating_df)
    
    all_menu_list = get_menu_list() #모든 메뉴 리스트 반환
    print(all_menu_list)

    #rating_item_list = rating_item_df.values.tolist()
    user_ordered_these_item = rating_df[ rating_df['userid']==userId ].values.tolist()
    print('user_ordered_these_item',user_ordered_these_item)
    
    if len(user_ordered_these_item) == 0:
        return None
    
    not_in_orderList = [x for x in all_menu_list if x not in user_ordered_these_item]
                        #rating_df['itemid'].values.tolist() 수정해야 한다
    
    return not_int_orderList
    

def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    #예측 평점 DataFrame에서 사용자id 인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해
    #가장 예측 평점이 높은 순으로 정렬한다
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    
    return recomm_movies

In [15]:
ratings_pred = ratings_matrix.values.dot(item_sim_df.values)/np.array([np.abs(item_sim_df.values).sum(axis=1)])

ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

ratings_pred_matrix  # 선호도 DF ?

itemid        라떼       삼계탕  아메리카노
userid
0       1.460499  1.539501    0.0
1       0.000000  0.000000    5.0
2       9.000000  9.000000    0.0
3       0.000000  0.000000    9.0

In [46]:
##  def get_unseen_movies(rating_df, userId): # 매개 사용자가 점수주지 않은 아이템 반환
#all_menu_list = get_menu_list() #모든 메뉴 리스트 반환

#rint(ratings_matrix_T[user_id].index.values.tolist()) #사용자 주문 내역
user_id = 0 ## 매개

user_rating = ratings_matrix.loc[user_id,:] # 그래서 슬라이싱을 했구나
already_ordered = user_rating[user_rating>0].index.tolist()
#already_ordered
order_list = ratings_matrix.columns.tolist() # 전체 메뉴판에서 가져올 필요가 없다 계산못하니까
#movies_list
unordered_list = [item for item in order_list if item not in already_ordered]
#unordered_list

['라떼', '아메리카노']

In [49]:
if not_in_orderList is []:
    print('해당 사용자는 모든 아이템을 주문하였습니다')

else:

    
    top_n=1
   # print(ratings_pred_matrix.loc[user_id, not_in_orderList])
    #recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, user_id, not_in_orderList, top_n=1)
    
    recomm_movies = ratings_pred_matrix.loc[user_id, unordered_list].sort_values(ascending=False)[:top_n]
recomm_movies

itemid
라떼    1.460499
Name: 0, dtype: float64

In [ ]:


## 끝